@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.ant-menu-item {
    font-family: 'PT Sans', sans-serif !important;
}

.ant-menu-item-selected {
    background-color: rgba(189, 195, 199, 0.25) !important;
    color: #1C2B78 !important;
    font-weight: 600 !important;
    font-family: 'PT Sans', sans-serif !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
    color: #1C2B78 !important;
    font-weight: 600 !important;
    font-family: 'PT Sans', sans-serif !important;
}

.ant-menu-sub .ant-menu-item-selected {
    color: #1C2B78 !important;
    font-weight: 600 !important;
    font-family: 'PT Sans', sans-serif !important;
}

.ant-breadcrumb-link {
    color: #1C2B78 !important;
}

.ant-breadcrumb a:hover {
    color: #1C2B78 !important;
}
